.tpl-view-con ul.style-chk-box
	margin:0 0 0.5em 0;
	padding 6px 3px
	border:1px solid #dbdbdb
	background:#eee;
	width:100%
	li
		list-style:none
		float:left
		&.active a
			background darken(#8FD4DB, 20%)
			text-shadow: 0 0 1px #3D8D94
	a
		display:block
		padding 4px 14px
		border-radius:4px;
		background:#8FD4DB;
		line-height:1.5em
		font-size:1em
		font-weight: bold;
		color:#fff;
		border:1px solid #eee
		margin: 0 3px;
.tpl-view-con div.tpl-chk-box
	position: absolute;
	z-index: 1;
	top: 56px;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	ul li
		&.active img
			border-color:#FDC800;
		img
			width 95%
			margin 0 2.5% 2.5% 2.5% 
			display block
			border: 2px solid #eee;
			border-radius: 5px;
		
.order-top-user
	padding:0.5em 1em;
.cart-view-con ul.pic-list-box
	padding:3px;
	margin 0
	height 84px
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	width:300%
	position relative
	li
		display:block
		position:absolute;
		width 70px
		height:70px
		padding:3px;
		margin:3px;
		background:url('../images/printtype-m.jpg') no-repeat center center
		background-position:center
		background-size:contain
		background-clip:content-box
		z-index 99
.cart-view-con .tpl-edit-box
	.drop-box
		img
			border:none;
			margin 0
			padding 0
.footer-order
	button
		border:none;
		height:44px;
		border-radius:0;
		color:#fff;
		font-size:1.2em;
		&:first-child
			background #8FD4DB
		&:last-child
			background #FDC800
.pep-dpa      
	background-color: #fff
	
#cart-temp-info
	width 100%
	font-size 1.5em
	line-height 2.5em
	display block
	background #fff
	padding-left:2.5em
	