 <!doctype html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Waterfall DEMO</title>
 	<link rel="stylesheet" href="http://cdn.staticfile.org/meyer-reset/2.0/reset.min.css">
 	<script src="../js/waterfall.js"></script>
 	<style>
		#main {position: relative;  -webkit-transition: all .5s ease-in-out;transition: all .5s ease-in-out;  }
		.pin{padding:15px 0 0 15px; float:left;}
		.box{padding:10px; border:1px solid #ccc; box-shadow: 0 0 6px #ccc; border-radius:5px;}
		.box img{width: 162px;height: auto;}
 	</style>
 </head>
 <body>
 	<div class="container" id="main">
 		<!-- (div.pin>div.box>img[src=../imgs/$.jpg])*8 -->
 		<div class="pin">
 			<div class="box"><img src="../imgs/1.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/2.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/3.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/4.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/5.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/6.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/7.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/8.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/9.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/10.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/2.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/3.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/4.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/5.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/6.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/2.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/3.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/4.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/5.jpg" alt=""></div>
 		</div>
 		<div class="pin">
 			<div class="box"><img src="../imgs/6.jpg" alt=""></div>
 		</div>

 	</div>
 </body>
 </html>
















